<main class="center" id="main">
  <div class="page-area">
    <pb-article>
      <h2><a href="https://en.wikipedia.org/wiki/Floating_wind_turbine"> FLOATING WIND FARMS</a></h2>
      <div>A floating wind turbine is an offshore wind turbine mounted on a floating structure that allows the turbine to
        generate electricity in water depths where fixed-foundation turbines are not feasible. Floating wind farms have
        the potential to significantly increase the sea area available for offshore wind farms. Locating wind farms
        further offshore can also reduce visual pollution, provide better accommodation for fishing and shipping lanes,
        and reach stronger and more consistent winds.</div>
      </pb-article>
    <pb-article>
      <h2><a href="https://en.wikipedia.org/wiki/Floating_solar">FLOATING SOLAR FARMS</a></h2>
      <div>Floating solar or floating photovoltaics (FPV),sometimes called floatovoltaics, are solar panels mounted on a
        structure that floats. The structures that hold the solar panels usually consist of plastic buoys and cables.
        They are then placed on a body of water. Typically, these bodies of water are reservoirs, quarry lakes,
        irrigation canals or remediation and tailing ponds.</div>
    </pb-article>
    <pb-article>
      <h2><a href="https://en.wikipedia.org/wiki/Vortex_Bladeless">VORTEX BLADELESS</a></h2>
      <div>Vortex Bladeless is a vortex-induced vibration resonant wind generator, in contrast to horizontal-axis wind
        turbines (HAWT) and vertical-axis wind turbines (VAWT) that work by rotation. Vortex's innovation comes from its
        unusual shape and way of harnessing energy by oscillation. At the bottom of the mast, a carbon fiber rod moves
        an alternator that generates electricity with no moving parts in contact. Vortex Bladeless does not rotate and
        thus is not a turbine.</div>
    </pb-article>
    <pb-article>
      <h2><a href="https://en.wikipedia.org/wiki/Artificial_photosynthesis">ARTIFICIAL PHOTOSYNTHESIS</a></h2>
      <div>Artificial photosynthesis is a chemical process that biomimics the natural process of photosynthesis. The term
        artificial photosynthesis is used loosely, referring to any scheme for capturing and then storing energy from
        sunlight by producing a fuel, specifically a solar fuel.An advantage of artificial photosynthesis would be that
        the solar energy could converted and stored.</div>
    </pb-article>
    <pb-article>
      <h2><a href="https://en.wikipedia.org/wiki/Tidal_power">TIDAL POWER</a></h2>
      <div>Tidal power or tidal energy is harnessed by converting energy from tides into useful forms of power, mainly
        electricity using various methods.Tides are more predictable than the wind and the sun. Among sources of
        renewable energy, tidal energy has traditionally suffered from relatively high cost and limited availability of
        sites with sufficiently high tidal ranges or flow velocities, thus constricting its total availability.</div>
    </pb-article>
    <pb-article>
      <h2><a href="https://en.wikipedia.org/wiki/Battery_swapping">BATTERY SWAPPING</a></h2>
      <div>Battery swapping or battery switching is an electric vehicle technology that allows battery electric vehicles to
        quickly exchange a discharged battery pack for a fully charged one, rather than to recharge the vehicle via a
        charging station. Battery swapping is common in electric forklift applications.The concept of an exchangeable
        battery service was proposed as early as 1896.The vehicles and batteries were designed to facilitate a fast
        exchange.</div>
    </pb-article>
    <div><h2>
      TECH STACK<br><br>
      The Web Application, I have Developed is Single Page Application. The Authentication is done by Json Web Token (JWT). I have used the ADA/WCAG Accessibility Principles in the frontend part. For the Webpage frontend part, I have used the Angular and for the Backend part, I have used the Springboot. The database, I have used is MongoDB. I have added the Favicon for the webpage.
    </h2>
    </div>
  </div>
</main>
